@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans+JP&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter';
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 16px;
}

html *,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #FEFAF3;
}

/* 変数 */
:root {
  --sidebar-width: 14.5rem;
  --header-height: 6rem;
  --main-color: #ffb443;
  --main-border-color: #f3e8d7;
}

/* ボタン */
.btn {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: var(--main-color);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.btn-wide {
  padding: 0.5rem 4.5rem;
}

.btn-light-green {
  background-color: #b4d851;
}

.btn:hover {
  background-color: #e89741;
}

.btn-light-green:hover {
  background-color: #9bc133;
}

/* Alert */
.alert {
  width: 90%;
  margin: 30px auto;
  padding: 0.625rem 3rem;
  border-radius: 3px;
  font-size: 1.125rem;
}

.alert-success {
  color: rgb(40, 138, 76);
  background-color: #bde7b9;
}

.alert-failed {
  color: rgb(195, 22, 22);
  background-color: #e5c7c7;
  color: #f7e8d2;
}

/* modal media query */
@media(min-width: 990px) {
  .ReactModal__Overlay {
    display: none;
  }
}