body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 16px;
}

html *,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #fefaf3;
}

/* ボタン */
.btn {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: #ffb443;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.btn-wide {
  padding: 0.5rem 4.5rem;
}

.btn-light-green {
  background-color: #b4d851;
}

.btn:hover {
  background-color: #e89741;
}

.btn-light-green:hover {
  background-color: #9bc133;
}

/* Alert */
.alert {
  width: 90%;
  margin: 30px auto;
  padding: 0.625rem 3rem;
  border-radius: 3px;
  font-size: 1.125rem;
}

.alert-success {
  color: rgb(40, 138, 76);
  background-color: #bde7b9;
}

.alert-failed {
  color: rgb(195, 22, 22);
  background-color: #e5c7c7;
}
